@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&family=Roboto+Mono:wght@100..700&family=Poppins:wght@100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  color:white;
  background-color: black;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.bluish__gradient {
  background: linear-gradient(90deg, #6a26c4 0%, #3f58aa 100%);
  filter: blur(200px);
}

.trapezoid {
  border-bottom: 20px solid; /* Example color, use Tailwind color if preferred */
  border-left: 25px solid transparent;
  border-right: 25px solid transparent;
  height: 0;
  width: 23.3rem;
  position: relative;
  overflow: hidden;
}

@layer base {
  body {
    @apply font-poppins;
  }
}


